<% include ../partials/header.ejs %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-lg-3">
        <div class="border rounded index-column">
            <h4>To-do List:</h4>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="border rounded index-column">
            <h2>Journal Entries:</h3>
            
            <form class="form-group" action="/journals" method="POST">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="journal[title]" placeholder="title">
                </div>
                <div class="field">
                    <label>Image</label>
                    <input type="text" name="journal[image]" placeholder="image url">
                </div>
                <div class="field">
                    <label>Post</label>
                    <textarea name="journal[body]"></textarea>
                </div>
                <input class="btn btn-primary" type="submit">
            </form>
        </div>

<% include ../partials/footer.ejs %>