<% include ../partials/header.ejs %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-lg-3">
        <div class="border rounded index-column">
            <h4>To-do List:</h4>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="border rounded index-column">
            <h2>Journal Title</h3>
            <img src="https://images.unsplash.com/photo-1528844323638-9696af3c5056?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=071bdc560eee753a56f203cc409ea841&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="Journal Image">
            BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>