<html>
    <head>
        <title>Goal Progress</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
        
    <div id="landing-header">
 	    <h1>Goal Journal</h1>
 	    <h3>Track your progress in a simple, easy-to-use online journal!</h3>
		<a href="/register" class="huge ui button">Sign up</a>
		<a href="/login" class="huge ui button">Login</a>
    </div>
        
<% include ./partials/footer.ejs %>