<html>
    <head>
        <title>Goal Progress</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
        
    <div class="container">
        <h1>Goal Journal</h1>
 	    <h3>Track your progress in a simple, easy-to-use online journal!</h3>
		<a href="/register" class="btn btn-light btn-lg">Sign up</a>
		<a href="/login" class="btn btn-light btn-lg">Login</a> 
    </div>
        
<% include ./partials/footer.ejs %>